<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="nl.robodigital.plugin.cobrowseioflutter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service
            android:name="io.cobrowse.CobrowseAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    </application>
</manifest>
